.nav-signout.hide,
.navbar-form p.hide,
.signup-form {
    display: none;
}

.navbar-form p {
    display: inline-block;
    padding-right: 10px;
    color: rgb(255, 255, 255)
}

.signup-form {
    margin-top: 50px;
}

.signup-form p[data-email="exist"] {
    display: none;
}